:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes fadein {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

a {
  font-weight: 500;
  color: #63636a;
  text-decoration: inherit;
}

a:hover {
  color: #dedfed;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #395b79;
    background-color: #ffffff;
  }

  a:hover {
    color: #b3b4c4;
  }
}

body {
  background-color: rgb(28, 24, 52);
  flex: auto;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

.logo {
  height: 20em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}


.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

ul {
  list-style-type: none;
}

.vehicle_list_element {
  font-size: 30px;
}

.vehicle_list_element:hover {

  color: rgb(140, 162, 177);
}

button {
  margin: 10px;
  background-color: rgb(72, 73, 95);
  color: rgb(164, 241, 236);
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.table {
  padding: 10px;
}

table {
  align-self: center;
  padding: auto;
  border-radius: 8%;
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  width: 20vw;
  padding: 10px;
  text-align: left;
  border: 1px solid #523707aa;
}

tr:hover {
  background-color: rgb(96, 115, 147);
  color: antiquewhite;
}

.table-row-0 {
  background-color: bisque;
}

.table-row-1 {
  background-color: #888;
}

.mainPage {
  text-align: center;
  animation: fadein 2s;
}

.vehicle_details {
  animation: 1s ease-out 0s 1 slideIn;
  padding: 30px;
  background-color: rgb(28, 24, 52);
  z-index: -1;
  overflow-y: auto;
}

form input,
form textarea,
form select {
  padding: 0.75em;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 1em;
  margin-bottom: 1em;

  &:focus {
    outline: none;
    border-color: #666;
  }
}

form textarea {
  min-height: 200px;
  resize: vertical;
  color: #7f8387;
}

form select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: rgb(72, 73, 95);
  color: #a8b2bd;

  background-size: 0.65em auto;
}

form input {
  padding: 20px;
  background-color: rgb(72, 73, 95);
  color: rgb(164, 241, 236);
}

.emailContent {
  height: 20vh;
  padding: 20px;
  background-color: rgb(72, 73, 95);
  color: rgb(164, 241, 236);
  padding: 0.75em;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 1em;
  margin-bottom: 1em;

  &:focus {
    outline: none;
    border-color: #666;
  }
}

.pagination {
  display: flex;

  justify-content: center;
}

.pagination a {
  flex: auto;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  font-size: 30px;
}

@media only screen and (min-width: 1000px) {
  .mini_logo {
    height: 7em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }

  .navbarAndPage {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: row;
    justify-content: space-between;
  }

  .page {
    flex: 5;
    min-width: 320px;
    text-align: center;
    animation: fadein 2s;
    height: auto;
    overflow-y: auto;
  }

  .sideBar {
    flex: 1;
    min-width: 250px;
    height: 100vh;
    background-color: #333;
    color: white;
    padding: 20px;
    bottom: 0;
    top: 0;
    overflow-y: auto;
    left: 0;
  }

  .sideBar_list {
    grid: 0%
  }

  .sideBar_list_element {
    display: grid;
    padding: 10px 0;
    font-size: larger;
  }


}

@media only screen and (max-width: 999px) {
  .mini_logo {
    display: none;
  }

  .navbarAndPage {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: row;
    justify-content: space-between;
  }

  .page {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    text-align: center;
    animation: fadein 2s;
    overflow-x: auto;
    overflow-y: auto;
  }

  .sideBar {
    flex-direction: column;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 20px;
    bottom: 0;
    top: 0;
    overflow-x: hidden;
    left: 0;
  }

  .sideBar_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .sideBar_list_element {
    flex: auto;
    padding: 10px 0;
    font-size: larger;
    margin-right: 10px;
  }
}